body {
	width: 80vw;
	margin: 5rem auto;
	font-size: 2rem;
	font-family: "helvetica neue",helvetica;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 3rem;
	font-weight: 600;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

header nav ul li {
	margin-top: 1rem;
}

header nav ul li a {
	color: firebrick;
}

header nav ul li a.selected {
	color: white;
	background-color: firebrick;
}

header {
	margin-bottom: 5rem;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
}

img {
	max-width: 100%;
}

main img {
	display: block;
	margin: 0 auto 3rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main ul.blog li a {
	color: firebrick;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

@media (min-width: 800px) {
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 5.5rem;
		right: 10vw;
	}
}
